$iconGrey: #9e9e9e;
$textGrey: #cacaca;
$iconBrown: #7a5327;
$textBrown: #57493f;
$green: #97c741;
$yellow: #f0c745;
$orange: #db8933;
$titleGrey: #838383;
$secondTitleGrey: #999;
$thirdTitleGrey: #b8b7b8;
$bgWhite: #fcfcfc;
$red: #eb4e3d;

.air-quality {
    width: 100%;
    text-align: center;
    width: auto;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    span {
        padding: 2px 6px;
        display: inline-block;
        border-radius: 5px;
    }
    .qa-great {
        background-color: $green;
    }
    .qa-good {
        background-color: $yellow;
    }
    .qa-bad {
        background-color: $orange;
    }
}

.text-box {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    h1 {
        font-size: 14px;
        line-height: 20px;
        color: $iconBrown;
    }
    p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 20px;
        color: $titleGrey;
    }
}